/* HomePage.css */

/* General Styles */
.home-page {
  margin-top: 20px;
}

.banner-img {
  margin-top: -70px;
  /* Adjust the value according to your navbar height */
  width: 100%;
}

.filters {
  padding: 0 15px;
}

.filters h4 {
  text-align: center;
  margin-bottom: 15px;
}

.filters .d-flex {
  flex-direction: column;
}

.filters button {
  width: 100%;
  margin-top: 10px;
}

/* Product Cards */
.card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card .card-img-top {
  height: 300px !important;
  object-fit: cover;
}

.card .card-body {
  padding: 20px;
}

.card .card-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.card .card-price {
  color: green;
  font-weight: bold;
}

.card .card-text {
  color: rgb(90, 89, 89);
}

.card img:hover {
  transform: scale(0.9);
}

/* Load More Button */
.loadmore {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadmore:hover {
  background-color: #c82333;
}

/* HomePage.css */

/* Filters Section */
.filters {

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.filters h4 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.filters .category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters .category-item {
  margin-bottom: 10px;
}

.filters .category-item label {
  display: block;
  cursor: pointer;
  color: #555;
}

.filters .category-item label:hover {
  color: #000;
}

.filters .price-filter {
  margin-top: 20px;
}

.filters .price-filter label {
  display: block;
  cursor: pointer;
  color: #555;
}

.filters button {
  width: 100%;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #0056b3;
}